.container-form{
    background-color: aqua;
    height: auto;
    width: 300px;
    padding: 30px;
    margin: 50px;

}

form{
    justify-content: center;
    display: flex;
}
.title{
    justify-content: center;
    display: flex;
}

.card{
    position: absolute;
}
.btn-close{
    position: relative;
    top: 20px;
    left: 85%;

}

.col {
    margin-bottom: 20px; 
}


.card {
    gap: 20px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
